<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\adina.pirjol\Documents\NetBeansProjects\wad_project\web\img\
        </param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listeners.MonkeyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Servlets.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>Servlets.MyTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitEventController</servlet-name>
        <servlet-class>Servlets.SubmitEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCategoryNamesServlet</servlet-name>
        <servlet-class>Servlets.getCategoryNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInFb</servlet-name>
        <servlet-class>Servlets.SignInFb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Servlets.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>Servlets.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketController</servlet-name>
        <servlet-class>Servlets.TicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseController</servlet-name>
        <servlet-class>Servlets.PurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToShoppingCartController</servlet-name>
        <servlet-class>Servlets.AddToShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitEventController</servlet-name>
        <url-pattern>/submitEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCategoryNamesServlet</servlet-name>
        <url-pattern>/getCategoryNamesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInFb</servlet-name>
        <url-pattern>/SignInFb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/Event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketController</servlet-name>
        <url-pattern>/Tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseController</servlet-name>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToShoppingCartController</servlet-name>
        <url-pattern>/addToShoppingCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
